<%- include('header') -%>
    <!-- inner banner -->
    <div class="inner_banner layer" id="home">
        <div class="container">
            <div class="agileinfo-inner">
                <h3 class="text-center text-white">
                    Investment management
                </h3>
            </div>
        </div>
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <div class="container pt-lg-5">
        <div class="row py-lg-5">
            <!-- blog grid -->
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="single">
                            <img class="card-img-bottom" src="<%= assetsUrl %>img4.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between border-bottom py-2">
                                <h5 class="blog-title card-title font-weight-bold">
                                    <a href="single">Blog Title</a>
                                </h5>
                                <div class="blog_w3icon">
                                    <span>
                                        <i class="fas fa-user mr-2"></i>Stella</span>
                                    <span class="ml-3">
                                        <i class="fab fa-servicestack mr-2"></i>Funding Trends</span>
                                </div>
                            </div>
                            <p class="card-text mt-3">Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh
                                pulvinar a. Pellentesque in ipsum id orci porta sed magna dictum dapibus.</p>
                            <a href="single" class="blog-btn text-dark">Read more</a>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="card my-5">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="single">
                            <img class="card-img-bottom" src="<%= assetsUrl %>img3.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between border-bottom py-2">
                                <h5 class="blog-title card-title font-weight-bold">
                                    <a href="single">Blog Title</a>
                                </h5>
                                <div class="blog_w3icon">
                                    <span>
                                        <i class="fas fa-user mr-2"></i>Stella</span>
                                    <span class="ml-3">
                                        <i class="fab fa-servicestack mr-2"></i>Quality Resourcing</span>
                                </div>
                            </div>
                            <p class="card-text mt-3">Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh
                                pulvinar a. Pellentesque in ipsum id orci porta sed magna dictum dapibus.</p>
                            <a href="single" class="blog-btn text-dark">Read more</a>
                            <p class="card-text">
                                <small class="text-muted">Last updated 15 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="single">
                            <img class="card-img-bottom" src="<%= assetsUrl %>img2.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between border-bottom py-2">
                                <h5 class="blog-title card-title font-weight-bold">
                                    <a href="single">Blog Title</a>
                                </h5>
                                <div class="blog_w3icon">
                                    <span>
                                        <i class="fas fa-user mr-2"></i>Stella</span>
                                    <span class="ml-3">
                                        <i class="fab fa-servicestack mr-2"></i>Inventory Tracking</span>
                                </div>
                            </div>
                            <p class="card-text mt-3">Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh
                                pulvinar a. Pellentesque in ipsum id orci porta sed magna dictum dapibus.</p>
                            <a href="single" class="blog-btn text-dark">Read more</a>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 hrs ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="card my-5">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="single">
                            <img class="card-img-bottom" src="<%= assetsUrl %>img5.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between border-bottom py-2">
                                <h5 class="blog-title card-title font-weight-bold">
                                    <a href="single">Blog Title</a>
                                </h5>
                                <div class="blog_w3icon">
                                    <span>
                                        <i class="fas fa-user mr-2"></i>Stella</span>
                                    <span class="ml-3">
                                        <i class="fab fa-servicestack mr-2"></i>Financial Planning</span>
                                </div>
                            </div>
                            <p class="card-text mt-3">Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh
                                pulvinar a. Pellentesque in ipsum id orci porta sed magna dictum dapibus.</p>
                            <a href="single" class="blog-btn text-dark">Read more</a>
                            <p class="card-text">
                                <small class="text-muted">Last updated 5 hrs ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
<%- include('footer') -%>